{% extends './../base.html' %}

{% load static %}

{% block header %}
{% include './../header.html' %}
{% endblock %}

{% block content %}


<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>Product name</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>

							{% for flower in items %}
							<tr class="text-center">

								<td class="product-remove">
									<form method="post" action="{% url 'remove_from_cart' flower_id=flower.id %}"
										class="subscribe-form">
										{% csrf_token %}
										<input type="hidden" name="flower_id" value="{{ flower.id }}">
										<button
											style="border: none!important; background-color: transparent; cursor: pointer;"><span
												class="ion-ios-close" style="height: 5rem;"></span></button>
									</form>
								</td>


								<td class="image-prod">
									<a href="{% url 'about_flower' id=flower.id %}" class="img-prod">
										<img class="img-fluid" style="height: 12rem; width: 9rem;"
											src="/media/{{ flower.image }}" alt="Colorlib Template">
									</a>
								</td>

								<td class="product-name">
									<h3>{{ flower.name }}</h3>
								</td>

								<td class="price">{{ flower.price }} {{ flower.currency }}</td>
							</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>
<style>
    button:focus {
		border: none!important;
		outline: 0;
    }
</style>


{% endblock %}


{% block footer %}
{% include './../footer.html' %}
{% endblock %}


{% block js %}
{% include './../js.html' %}
{% endblock %}