<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url('/static/images/home/home-page-backbround.webp');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-sm-12 ftco-animate text-center">
                        <h1 class="mb-2">Найкращі квіти для вас</h1>
                        <h2 class="subheading mb-4">Ми доставляємо квіти по всій країні</h2>
                        <p><a href="{% url 'catalog' %}" class="btn btn-primary">Дивитися більше</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>