<html>

<head>
    <style>
        span,
        h1,
        h4,
        li {
            font-family: "Source Sans Pro", "Arial", sans-serif;
            line-height: normal;
        }
    </style>
</head>

<body>
<h1>Ласкаво просимо до lystva</h1>
<br>
<br>
<div>
    <p>Шановний,</p>

    <span>
            Ласкаво запрошуємо вас до сім'ї Lystva! Ми в захваті від вашого приєднання до
            нашого списку розсилок. Готуйтеся зануритися у світ квітучої краси, теплих повідомлень та уважних
            жестів.
        </span>
    <br>
    <br>
    <span>
            Як учасник нашої спільноти, ви будете першими, хто дізнається про наші найновіші квіткові колекції,
            ексклюзивні пропозиції та захоплюючі події. Незалежно від того, чи святкуєте ви особливу подію, чи
            просто
            радуєте когось, ми тут, щоб допомогти вам висловити свої почуття через мову квітів.
        </span>
    <br>
    <br>
    <span>Ось, чого ви можете чекати від нас:</span>
    <br>
    <ul>
        <li>
            Свіжі квіткові надходження: Відкрийте для себе наші останні новинки, ретельно підібрані, щоб
            надихати та
            радувати.
        </li>
        <li>
            Сезонні акції: Відчуйте суть кожного сезону з нашими спеціально підготованими букетами та
            композиціями.
        </li>
        <li>
            Ексклюзивні знижки: Насолоджуйтеся ексклюзивними знижками та пропозиціями тільки для
            передплатників, як
            символ нашої вдячності за вашу підтримку.
        </li>
        <li>
            Поради щодо догляду за квітами: Дізнайтеся, як зберігати свої квіти свіжими та яскравими довше
            за
            допомогою наших експертних порад.
        </li>
        <li>
            Персоналізовані рекомендації: Дозвольте нам допомогти вам знайти ідеальний букет для кожної
            нагоди
            за
            допомогою наших персоналізованих рекомендацій на основі ваших уподобань.
        </li>
    </ul>
    <br>
    <br>
    <span>
            Ми зобов'язані надавати вам винятковий досвід покупок та поширювати радість через вічну красу
            квітів.
            Якщо у
            вас виникнуть будь-які питання або потрібна допомога, наш відданий команді підтримки клієнтів завжди
            готовий
            допомогти.
        </span>
    <br>
    <br>
    <span>
            Ще раз дякуємо вам за вибір Lystva. Ми з нетерпінням чекаємо на ваші незабутні
            моменти та допомогу вам створити незабутні спогади за допомогою наших вишуканих квіткових творінь.
        </span>
    <br>
    <br>


    <span>З найкращими побажаннями,</span>
    <br>
    <span>
            Lystva
        </span>
    <br>
    <a style="text-decoration: none; color: inherit;" href="tel:068 615 50 40">
        <span>+38 (069) 999 99 99</span>
    </a>
    <br>
    <a style="cursor: pointer;">
        <span>info@yourdomain.com</span>
    </a>
    <br>
</div>
</body>

</html>